
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1 class="display-4">Tributação de Empresas</h1>
    <p class="lead">Relatório gráfico de Tributação de Produtos para a Empresa informada</p>
    <hr class="my-4">
    
</div>
